<html>
<head>
	<meta content="initial-scale=1,width=device-width" name="viewport"/>
	<title>Train Tracker</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<section>
		<%= yield %>
	</section>
</body>
</html>